<div class="login-hero">
    <div class="login-overlay" data-aos="fade-up">
        <div class="text-center mb-4">
            <%= image_tag 'logo.png', alt: 'Logo', class: 'login-logo' %>
        </div>
        <div class="login-form-wrapper">
            

            <%= form_with url: login_path, local: true, class: 'login-form' do |form| %>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-envelope text-black"></i>
                    </span>                    
                    <%= form.email_field :email, class: 'form-control', placeholder: 'Email' ,required: true %>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-lock text-black"></i>
                    </span>                   
                    <%= form.password_field :password, class: 'form-control text-black', placeholder: 'Senha', required: true %>
                </div>

                <div class="d-grid">
                    <%= form.submit 'Entrar', class: 'btn btn-primary w-100' %>
                </div>                
            <% end %>
            <div class="text-center mt-3">
                <%= link_to "Esqueci minha senha", new_password_reset_path, class: "text-white text-decoration-underline mt-2" %>
            </div>

            <div class="text-center mt-3">
                <%= link_to "Ainda não tem conta? Cadastre-se", new_user_path, class: "text-white" %>
            </div>
        </div>
    </div>
</div>
 