<div class="recover-hero">
    <div class="recover-overlay" data-aos="fade-up">
        <div class="text-center mb-4">
            <%= image_tag 'logo.png', alt: 'Logo', class: 'recover-logo' %>
        </div>
        <div class="recover-form-wrapper">
            <h2 class="text-center mb-4 text-white">Nova Senha</h2>

            <%= form_with url: password_reset_path(token: params[:token]), method: :patch, local: true, class: 'recover-form' do |form| %>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-lock text-black"></i>
                    </span>                    
                    <%= form.password_field :password, class: 'form-control', required: true, placeholder: 'Digite sua nova senha' %>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-lock text-black"></i>
                    </span>                    
                    <%= form.password_field :password_confirmation, class: 'form-control', required: true, placeholder: 'Confirme sua nova senha' %>
                </div>

                <div class="d-grid">
                    <%= form.submit 'Altualizar Senha', class: 'btn btn-block btn-success recover-button' %>
                </div>
            <% end %>
            <div class="text-center mt-3">
                <%= link_to 'Voltar para o login', login_path, class: 'text-white' %>
            </div>
        </div>
    </div>
</div>