<div class="container-fluid mt-4">
   <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Todos os Agendamentos</h3>
        <%= link_to admin_dashboard_path, class: 'btn btn-outline-secondary btn-sm d-flex align-items-center', data: {bs_toggle: 'tooltip'}, title: 'Voltar para Dashboard' do %>
            <i class="fas fa-arrow-left me-2"></i>
            <span class="d-none d-sm-inline">Voltar ao Dashboard</span>
        <% end %>
    </div>
   
<% if @appointments.any? %>
  <div class="table-responsive shadow rounded">
    <table class="table table-bordered table-hover align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Cliente</th>
          <th>Serviço</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Status</th>
          <th>Criado em</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td class="text-black"><%= appointment.user.name %></td>
            <td class="text-black"><%= appointment.service.name %></td>
            <td><%= appointment.date.strftime('%d/%m/%Y') %></td>
            <td><%= appointment.time.present? ? appointment.time.strftime('%H:%M') : '-' %></td>
            <td>
              <span class="badge <%= appointment.status == 'confirmed' ? 'bg-success' : 'bg-secondary' %>">
                <%= appointment.status.capitalize %>
              </span>
            </td>
            <td><%= appointment.created_at.strftime('%d/%m/%Y %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="lead">Nenhum agendamento encontrado.</p>
<% end %>

</div>

