<div class="container mt-4">
    <h2 class="mb-4">Agendar Serviços</h2>

    <%= form_with url: customers_services_path, method: :post, local: true do |f| %>
        <div class="mb-3">
            <%= label_tag :name, "Cliente", class: "form-label" %>
            <%= text_field_tag :name, current_user.name, class: "form-control", required: true %>
        </div>        

        <div class="mb-3">
            <%= label_tag :date, "Data", class: "form-label" %>
            <%= date_field_tag :date, @data, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
            <%= label_tag :time, "Horário Disponível", class: "form-label" %>
            <%= time_select :time, options_for_select(@horarios_disponiveis), { class: "form-control" }, required: true %>
        </div>

        <div class="mb-3">
            <%= label_tag :service_id, "Tipo de Serviço", class: "form-label" %>
            <% if @service_types.present? %>
                <%= select_tag :service_id, options_from_collection_for_select(@service_types, :id, :name), { class: "form-select" }, required: true %>
            <% else %>
                <p class="text-danger">Nenhum tipo de serviço disponível.</p>
            <% end %>
        </div>

        <%= hidden_field_tag :user_id, current_user.id %>

        <%= submit_tag "Agendar Serviço", class: "btn btn-primary" %>
    <% end %>

</div>