<!--Sidebar-->    
    <nav id="sidebar-wrapper" class="bg-dark border-end" >
        <div class="sidebar-heading text-white py-4">
            <div class="text-center mb-1">
                <%= image_tag 'logo.png', alt: 'Logo', class: 'dashboard-logo me-2' %> 
                <h5 class="text-white fw-bold">Salão Beleza Pura</h5>
            </div>               
        </div>
        <div class="list-group list-group-flush">
            <%= link_to customers_dashboard_path, class: 'list-group-item list-group-item-action bg-dark text-white sidebar-link' do %> 
                <i class="fas fa-tachometer-alt me-2"></i> Dashboard
            <% end %>          

            <%= link_to services_path, class: 'list-group-item list-group-item-action bg-dark text-white sidebar-link' do %>
                <i class="fas fa-cut me-2"></i> Serviços
            <% end %>
            
            <%= link_to appointments_path, class: 'list-group-item list-group-item-action bg-dark text-white sidebar-link' do %>
                <i class="fas fa-calendar-check me-2"></i> Meus Agendamentos
            <% end %>

            <%= link_to logout_path, method: :delete, class: 'list-group-item list-group-item-action bg-dark text-white sidebar-link' do %>
                <i class="fas fa-sign-out-alt me-2"></i> Logout
            <% end %>
        </div>
    </nav>